.use{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow-x:hidden;
    height: 650px;
    &__card{
        width: 30%;
        button{
        background: rgba(252, 183, 43, 1);
        color: white;
        border-color: white;
        border: 1px solid;
        width: 100px;
        font-size: 14px;
        padding: 5px;
    }
        h2{
            font-size: 50px;
            margin-bottom: 20px;
        }
    
    }
    &__img2{
        position: absolute;
        right: -29%;
       
    }
    &__img3{
        position: absolute;
        width: 60%;
        left: 50%;
        top: 60%;
    }
}
.use::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width:768px) {
    .use{
        height: 900px;
        flex-direction: column-reverse;
        &__card{
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }
        &__img2{
            top: 5%;
            right: -45%;
        }
        &__img3{
            top: 40%;
            width: 100%;
            left: 0;
        }
    }
}
@media screen and (max-width:375px) {
    .use{
        flex-direction: column-reverse;
        &__card{
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }
        &__img2{
            top: -1%;
            right: -45%;
            display: none;
        }
        &__img3{
            height: 150px;
            top: 30%;
            width: 100%;
            left: 0;
        }
        &__img{
            width: 100%;
        }
    }
}